/* Start Gallery */
.gallery {
    padding-top:var(--main-padding-top);
    padding-bottom:var(--main-padding-bottom);
    position: relative;
    background-color:var(--section-background);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
    background-color:var(--section-background)
}

.gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0 12px 20px rgba(0 0 0 / 13%),0 2px 4px 0 rgb(0 0 0 /12%)
}

.gallery .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .box .image::before {
    content:'';
    width:0;
    height: 10px;
    background-color:rgb(255 255 255 /20%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
}

.gallery .box .image:hover::before {
    animation:flashing 0.7s;
    overflow: hidden;
}

.gallery .box  img {
    max-width:100%;
    transition: var(--main-transtion);
}

.gallery .box .image:hover img {
    transform:rotate(5deg) scale(1.1)
}
/* End Gallery */
/* Start Animation */
@keyframes flashing {
    0% , 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height:200%;
        width: 200%;
    }
}
/* End Animation */