/* @import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css'; */
@import 'https://necolas.github.io/normalize.css/8.0.1/normalize.css';
@import './header.css';
@import './landing.css';
@import './articles.css';
@import './gallery.css';
@import './features.css';
@import './testimonials.css';
@import './team.css';
@import './services.css';
@import './skills.css';
@import './work-steps.css';
@import './event.css';
@import './pricing.css';
@import './videos.css';
@import './stats.css';
@import './discount.css';
@import './footer.css';



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
     --main-color : #2196f3;
     --main-color-alt : #1787e0;
     --main-transtion: 0.3s;
     --main-padding-top:100px;
     --main-padding-bottom:100px;
     --section-background :#ececec;
 }
body {
    font-family: 'Cairo', sans-serif;
    /* background-color: #f00 */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* p {
    padding-bottom: 20px;
    padding-top: 20px;
} */

.container {
    padding-left:15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto; 
    /* width: 80vw; */
    background-color: transparent;
}

/* Phone */
@media (min-width : 576px) {
    .container {
        width: 570px;
    }
}

/* Small (tablets)*/
@media (min-width : 768px) {
    .container {
        width:750px
    }
}

/* medium (desktops) */
@media (min-width : 992px) {
    .container {
        width: 970px;
    }
}

/* Large desktops*/
@media (min-width : 1200px) {
    .container {
        width:1170px;
    }
}

/* Ende Rules */
